@font-face {
    font-family: 'policetitre';
    src: url('WCManoNegraBoldBta-webfont.eot');
    src: url('WCManoNegraBoldBta-webfont.eot?#iefix') format('embedded-opentype'),
         url('WCManoNegraBoldBta-webfont.woff2') format('woff2'),
         url('WCManoNegraBoldBta-webfont.woff') format('woff'),
         url('WCManoNegraBoldBta-webfont.ttf') format('truetype'),
         url('WCManoNegraBoldBta-webfont.svg#wc_mano_negra_btabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'impact_labelregular';
    src: url('Impact_Label-webfont.eot');
    src: url('Impact_Label-webfont.eot?#iefix') format('embedded-opentype'),
         url('Impact_Label-webfont.woff2') format('woff2'),
         url('Impact_Label-webfont.woff') format('woff'),
         url('Impact_Label-webfont.ttf') format('truetype'),
         url('Impact_Label-webfont.svg#impact_labelregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'true_crimesregular';
    src: url('true-crimes-webfont.eot');
    src: url('true-crimes-webfont.eot?#iefix') format('embedded-opentype'),
         url('true-crimes-webfont.woff2') format('woff2'),
         url('true-crimes-webfont.woff') format('woff'),
         url('true-crimes-webfont.ttf') format('truetype'),
         url('true-crimes-webfont.svg#true_crimesregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'policebody';
    src: url('Scratch_-webfont.eot');
    src: url('Scratch_-webfont.eot?#iefix') format('embedded-opentype'),
         url('Scratch_-webfont.woff2') format('woff2'),
         url('Scratch_-webfont.woff') format('woff'),
         url('Scratch_-webfont.ttf') format('truetype'),
         url('Scratch_-webfont.svg#scratchregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/**************************/
body
{
  background-color: #36393F;
  color: white;
  font-family: policebody;

}

/*header*/
header
{
  box-shadow: 0px 10px 30px black;
  border-radius: 10px;
  background-color: #050506;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px
}

header p
{
  font-size: 3em;
}

/*navigation*/
nav a
{
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-decoration:none;

}
nav
{
  display: inline-block;
  display: flex;
  justify-content: space-around;
  transition: transform 250ms ease-in-out;
  font-family: 'true_crimesregular';
}
nav a
{
  display: inline-block;
  transition: transform 250ms ease-in-out;
  perspective: 0px;
}
nav a:hover
{
  text-shadow: 0px 10px 30px black;
  transform: rotateX(45deg) scale(1.4);


}
.pageactuel
{
  color: red;
}
/*footer*/
footer
{
  text-decoration: none;
  font-size: 1.5em;
  margin: 15px;
  text-align: center;
}
footer a
{
    display: inline;
    text-decoration: none;
}
/**********************Acceuil**********************/
h1
{
  text-align: center;
  display: block;
  font-family: policetitre;
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(1,.2,.73,0);
  display: flex;
  justify-content: center;
  width: 40%;
  margin-left: 30%
}
h1:hover
{
  transform: scale(1.7);
  color: red;
}



/****************************image **************************************/
#accueil1
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.profil
{
  margin: 1.5%;
}
.Imagegens
{
  width: 20em;
  border: 3px white solid;
  border-radius: 5px;
  display: block;
  transform: rotateX(0deg);
  transition: transform 700ms ease-in-out;
  transform-origin: top;
  background-color: black;
}
.image_renversement
{
  width: 20em;
  border: 3px white solid;
  border-radius: 5px;
  display: block;
  transform: rotateX(-90deg);
  transition: transform  700ms ease-in-out;
  transform-origin: center bottom;
  background-color: black;
}
/*********/
.Imagegens:active
{
    background-color: black;
    transform: rotateX(90deg);
}
.Imagegens:active + .image_renversement
{
  transform:  translateY(-20em) rotateZ(0deg);
}

/*********/
.profil:nth-child(1) .Imagegens
{border: 3px cyan solid;}
.profil:nth-child(2) .Imagegens
{border: 3px rgb(123, 10, 136) solid;}
.profil:nth-child(3) .Imagegens
{border: 3px blue solid;}
.profil:nth-child(4) .Imagegens
{border: 3px red solid;}




/****************la FireTeam c'est quoi?*****************************/
#késako
{
  display: flex;
  justify-content: center;
}

#késakoimg
{
  opacity: 1;
  transition: transform 500ms ease-in-out;
  transform: scale(1);
}
#késakoimg:hover
{
  transform: scale(0.5);
}
#ungroupe
{
  transition: transform 500ms ease-in-out;
  transform: scale(0);
}
#késakoimg:hover + #ungroupe
{
  transform: scale(1);

}








/************************pagepersonelle*****************************/
.nomgens
{
  text-align: center;
}
#pagepersonelle
{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
}
.bordures img
{
  border: 3px black solid;
  box-shadow: 0px 10px 30px black;
}
.bordures
{
  width: 20%;
  height: 20%;
  margin-left: 1.5%;
  margin-bottom: 1.5%;
  margin-right: 1.5%;
  font-family: fantasy;
  text-align: center;

}
.textelateral
{
  width: 70%;
  height: 70%;
  border-left: 3px black solid;
  padding-left: 2%;
}
/*les listes*/
.liste1
{
  list-style-type: none;
  font-family: 'true_crimesregular';
}
/******************************Arts********************************************/
body section:nth-child(2)
{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}
body video
{
  border: 3px black solid;
  border-radius: 10px;
  margin: 2%;
  box-shadow: 2px 10px 20px black;
}
/**********************id des titres des pages des gens*******************************/
#titrehaspho
{
  color: #9500E8;
  text-shadow: 0px 10px 10px black;
}
/**********************les séparations*********************************/
.séparation1
{
  border: 3px black solid;
  border-radius: 10px;
}
.séparation2
{
  border: 1px black dotted;
  border-radius: 10px;

}
