@font-face {
    font-family: 'wc_mano_negra_btabold';
    src: url('WCManoNegraBoldBta-webfont.eot');
    src: url('WCManoNegraBoldBta-webfont.eot?#iefix') format('embedded-opentype'),
         url('WCManoNegraBoldBta-webfont.woff2') format('woff2'),
         url('WCManoNegraBoldBta-webfont.woff') format('woff'),
         url('WCManoNegraBoldBta-webfont.ttf') format('truetype'),
         url('WCManoNegraBoldBta-webfont.svg#wc_mano_negra_btabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'scratchregular';
    src: url('Scratch_-webfont.eot');
    src: url('Scratch_-webfont.eot?#iefix') format('embedded-opentype'),
         url('Scratch_-webfont.woff2') format('woff2'),
         url('Scratch_-webfont.woff') format('woff'),
         url('Scratch_-webfont.ttf') format('truetype'),
         url('Scratch_-webfont.svg#scratchregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/**************************/
body
{
  background-color: white;
  color: black;
  font-family: 'scratchregular' ;

}

/*header*/
header
{
  box-shadow: 0px 10px 30px black;
  border-radius: 5px;
  background-color: #FFFFF1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px
}

header p
{
  font-size: 3em;
}

/*navigation*/
nav a
{
  color: Black;
  font-weight: bold;
  font-size: 2em;
  text-decoration:none;

}
nav
{
  display: inline;
  display: flex;
  justify-content: space-around;
}
.pageactuel
{
  color: red;
}
/*footer*/
footer
{
  text-decoration: none;
  font-size: 1.5em;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*body*/
/*body
{
  margin: 10px;
  box-shadow: 0px 10px 30px black;
}*/




/**********************Acceuil**********************/
h1
{
  text-align: center;
  font-family: "wc_mano_negra_btabold", arial ;
}
/*image Foxy*/
#accueil1
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.profil
{
  width: 20em;
  border: 3px black solid;
  border-radius: 5px;
  display: block;
  margin: 5px;
}
.profil:hover
{
    box-shadow: 0px 10px 30px black;
}
.profil .text_image_gens
{
  display: none;
}
/*.profil .Imagegens:hover .text_image_gens
{
  display: block;
  text-align: center;
}*/
.profil:hover img
{
  opacity: 0.2;
}


#accueil2
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.profil2
{
  width: 20em;
  border: 3px black solid;
  border-radius: 5px;
  display: inline-block;
  margin: 5px;
}
.profil2:hover
{
    box-shadow: 0px 10px 30px black;
}
.profil2 .text_image_gens
{
  display: none;
}
/*.profil2 .Imagegens:hover .text_image_gens
{
  display: block;
  text-align: center;
}*/
.profil2:hover img
{
  opacity: 0.2;
}



/************************pagepersonelle*****************************/
.nomgens
{
  text-align: center;
}
#pagepersonelle
{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
}
.bordures img
{
  border: 3px black solid;
  box-shadow: 0px 10px 30px black;
}
.bordures
{
  width: 20%;
  height: 20%;
  margin-left: 1.5%;
  margin-bottom: 1.5%;
  margin-right: 1.5%;
  font-family: fantasy;
  text-align: center;

}
.textelateral
{
  width: 70%;
  height: 70%;
  border-left: 3px black solid;
  padding-left: 2%;
}
/*les listes*/
.liste1
{
  list-style-type: none;
}
/******************************Arts********************************************/
body section:nth-child(2)
{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}
body video
{
  border: 3px black solid;
  border-radius: 10px;
  margin: 2%;
  box-shadow: 2px 10px 20px black;
}

/**********************les séparations*********************************/
.séparation1
{
  border: 3px black solid;
  border-radius: 10px;
}
.séparation2
{
  border: 1px black dotted;
  border-radius: 10px;

}
